body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(1, 0, 20);
}

canvas {
  border: 2px solid blue;
  background-color: black;
}